<a href="https://colab.research.google.com/github/just-joseph/Kaggle--To-loan-or-not-to-loan/blob/master/Python_training_day2_datatypes%2C_mutability%2C_conditionals%2C_loops.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
print("Hello World!")

Hello World!

Arithmetic

In [2]:
print(1+1)

2

In [3]:
1+5  # this won't be printed. Better to use the print function everyone
2+3

5

In [4]:
%time print(1+134)  # %time outputs the time taken to run this LINE of code
print(2+343)

135
CPU times: user 966 µs, sys: 0 ns, total: 966 µs
Wall time: 823 µs
345

In [5]:
%%time 
print(1+134)  # %%time outputs the time taken to run this whole CELL of code
print(2+343)

135
345
CPU times: user 1.06 ms, sys: 0 ns, total: 1.06 ms
Wall time: 882 µs

In [6]:
print(2-3)
print(2*3)
print(2/3) # Python automatically produces a float (or decimal)

-1
6
0.6666666666666666

In [7]:
print(type(2))

<class 'int'>

Abs, floor, modulus and power

In [8]:
# returns absolute value of the number
abs(-2.4)

2.4

In [9]:
# Quotient
7//5

1

In [10]:
# Reminder
7%5

2

In [11]:
# Power- 2 raised to 3
2 ** 3

8

In [12]:
# Usual mathematical precedence applies. Use brackets if you want to change the execution order
print( (1 + 2**2) * 3 / 6)

2.5

Typecast

In [13]:
# Division by defaut produces float (decimal numbers) in python
print(3/3)
print(2/3)

1.0
0.6666666666666666

In [14]:
# We are explicitly informing the compiler that we need the integer version of the output using int()
print(int(3/3))
print(int(2/3))

1
0

In [15]:
print(str(3/3)) 
# this is not 1.0, rather it is "1.0", a string. Use the type() function to know the class type.

1.0

In [16]:
print('2')
print(type('2'))

2
<class 'str'>

In [17]:
str1= 'Dell produces good laptops '
print(str1)
print(str1[2:10]) # from index 2 to 9 (index in Python starts from 0)
print(str1[:8])
print(str1[10:])
print(str1[-3:])  # -1 is last element, so -3 is 3rd element from end (reverse indexing begins from -1, not 0)

Dell produces good laptops
ll produ
Dell pro
ces good laptops
ps

In [18]:
str2= 'in India'
print(str2[3:])
print(str2[-3:])
print(str2[:-3])
print(str2[-5:-3])

India
dia
in In
In

In [19]:
str1+str2

'Dell produces good laptops in India'

In [20]:
# String subtraction is not possible like this. Hence throws an error
str1-str2

TypeError: ignored

In [21]:
str1*2

'Dell produces good laptops Dell produces good laptops '

In [22]:
# Error- Multiplying or dividing string with another string is not possible. Hence throws an error
str1*str2
str1/str2

TypeError: ignored

In [23]:
# All the below statements are the same
print(str1+str(3))
print(str1+ "3" )
print(str1+ '3' )

Dell produces good laptops 3
Dell produces good laptops 3
Dell produces good laptops 3

String functions- lower, upper, title

In [24]:
str1.lower()

'dell produces good laptops '

In [25]:
str1.upper()

'DELL PRODUCES GOOD LAPTOPS '

In [26]:
str1.title()

'Dell Produces Good Laptops '

In [27]:
# In str1, we replace 'good' with 'excellent'
str1.replace('good', 'excellent')

'Dell produces excellent laptops '

In [28]:
# The curly brackets are replaced with the variables or values mentioned inside the format(). The replacement is done in the same order as that of variables
str3 = '{} is simple. {} is powerful'.format('Python','Python')
print(str3)
# Format can be used with variables in place of 'Python'. The variables need not be of string type.

Python is simple. Python is powerful

In [29]:
# Joining 2 strings manually. The effort increases when we have many strings

pandas_str = 'pandas'
numpy_str = 'numpy'
print(pandas_str + ', ' + numpy_str)

pandas, numpy

In [30]:
# Use the join function to reduce the effort. The ', ' before join() mentions what string to join them with
python_libs = ', '.join([pandas_str, numpy_str])
print(python_libs)

pandas, numpy

In [31]:
# Strip removes whitepsaces before and after a string
str5= '   Football is entertaining      '
str5.strip()

'Football is entertaining'

In [32]:
# strip whitespaces, lower the string in a single line
ugly_mixed_case = '   ThIS LooKs BAd '
std_str = ugly_mixed_case.replace('bad', 'good').strip().lower()
print(std_str)

this looks bad

In [33]:
# Strip, lower, and replace parts of string with a single line.
std_str = ugly_mixed_case.strip().lower().replace('bad', 'good')
print(std_str)

this looks good

In [34]:
# When clubbing multiple functions, compiler executes from left to right. Hence, make sure the order is not mixed up

### **Lists**
Lists are ordered collection of items in Python. Unlike arrays in other language, lists can hold multiple types (classes) of items

In [35]:
str1

'Dell produces good laptops '

In [37]:
# We create a list of strings from a parent string using the split() command

str1.split()
# Split by default is based on ' '. We can split based on other characters as well by passing that character as parameter- for eg, str1.split('p') splits string to words when 'p' is encountered

['Dell', 'produces', 'good', 'laptops']

In [38]:
# We are using the numpy package here to add NaN value to the list. 
# If you encounter an error "no module named numpy", open cmd, activate your virtual environment (if any), and type "pip install numpy", then re-run this cell and it will work fine

import numpy
l1= [2, 3, 4, 10, 14]
l2= [2, 'Justin', 'EY', 5.0, numpy.nan]   #numpy.nan (or NaN in layman terms) is of type float

In [39]:
# List indexing
l2[-3]

'EY'

In [40]:
# Updating value in list. Do not attempt this for strings as it will throw error. The reason is that strings are immutable while lists are mutable
l2[-3]= 'Ernst & Young'

In [41]:
str1[-1]= 'r'

TypeError: ignored

In [42]:
l2

[2, 'Justin', 'Ernst & Young', 5.0, nan]

In [43]:
# For those who are new to for loops, for loop is used for iteration. 
# In this case, we are using the variable 'val' to iterate through a range 0 to 4. In each iteration, val changes its value
for val in range(0,5):
    print(val)

0
1
2
3
4

In [44]:
# When we iterate through a list instead of a range of numbers (unlike before), val takes each value of the list in each iteration 
# We can also iterate through strings similarly. If iterating through strings, val takes each character of the string as its value in each iteration.
for val in l2:
    print(val, type(val))

2 <class 'int'>
Justin <class 'str'>
Ernst & Young <class 'str'>
5.0 <class 'float'>
nan <class 'float'>

List comprehension

In [45]:
# For those who are new to if statements
val= 5
if (val<10): #checks a condition
    print("val is less than 10") #if condition is satisfied, the compiler executes whatever is inside the condition

val is less than 10

In [46]:
# We are defining a loop to add only 'str' values to a new list l3 from the old list l2

l3=[]
for i in l2:
    if type(i)==str:
        l3.append(i)
print(l3)

# We will be using list comprehension to do this in one line of code

['Justin', 'Ernst & Young']

In [47]:
# This is the list comprehension method of doing the same

[i for i in l2 if type(i)==str]

['Justin', 'Ernst & Young']

List of lists

In [48]:
multi_l1 = [[12.0, 13.3], [0.6, 18.0], [88.0, 1.1, 9.9, 10]]  # two dimensional lists. 
# Do not perceive it like a 2D array. In 2D array, the length of each individual sub-array should be same. But in lists, there is no compulsion for that.

print('first sub-list: {}'.format(multi_l1[0]))

first sub-list: [12.0, 13.3]

In [49]:
# multi_l1[0] is a list by itself. Hence we can index the sublist multi_l1[0]

# getting the second element (index 1) of multi_l1[0]
multi_l1[0][1]

13.3

List methods

In [50]:
l1= [2, 3, 4, 10, 14]

In [51]:
# Length of list
len(l1)

5

In [52]:
# delete an element of list using index
del l1[0]
print(l1)

[3, 4, 10, 14]

In [53]:
# lenght of list of list
len(multi_l1)

3

In [67]:
import numpy
l2= [2, 'Justin', 'EY', 5.0, numpy.nan, 'Justin']

In [68]:
# finding index by giving the element. Finds index of the first occurance of that element
l2.index('Justin')

1

In [69]:
# Add new entry to end of list
l2.append('newentry')
l2

[2, 'Justin', 'EY', 5.0, nan, 'Justin', 'newentry']

In [70]:
# Insert new entry to specified index
l2.insert(3, 'third')

In [71]:
# Extend the list using elements of an iterable datatype- Here, 'again' is string which is iterable- 'a', 'g', 'a', 'i', 'n'
l2.extend('again')
print(l2)

[2, 'Justin', 'EY', 'third', 5.0, nan, 'Justin', 'newentry', 'a', 'g', 'a', 'i', 'n']

In [72]:
# Extend makes sense when we want to add values of a list to another list
l2.extend(['again', 'new', 'list'])
print(l2)

[2, 'Justin', 'EY', 'third', 5.0, nan, 'Justin', 'newentry', 'a', 'g', 'a', 'i', 'n', 'again', 'new', 'list']

In [73]:
# Counting number of times an element is in the list
l2.count('a')

2

In [74]:
# 'a' has multiple occurance in the list. Index returns the index of first occurance
l2.index('a')

8

In [75]:
print(l2)

[2, 'Justin', 'EY', 'third', 5.0, nan, 'Justin', 'newentry', 'a', 'g', 'a', 'i', 'n', 'again', 'new', 'list']

In [76]:
# To remove an element from list. The first occurance of the item is removed
l2.remove('Justin')
print(l2)

[2, 'EY', 'third', 5.0, nan, 'Justin', 'newentry', 'a', 'g', 'a', 'i', 'n', 'again', 'new', 'list']

In [77]:
# To remove all occurances of an element
l2= [x for x in l2 if x != 'a']
print(l2)

[2, 'EY', 'third', 5.0, nan, 'Justin', 'newentry', 'g', 'i', 'n', 'again', 'new', 'list']

In [78]:
# Why using an if statement is needed
# We cant remove 'a' as 'a' does not exist in the list- hence throws an error
l2.remove('a')
# Hence, we need to check if 'a' exists in the list, if so, use the remove() function

ValueError: ignored

In [79]:
# Using a check for existance of element before attempting for remove it

if ('a' in l2):
    l2.remove('a')
else:
    print("'a' does not exist")

'a' does not exist

In [80]:
# pop out the last element in list. That element gets removed from list
l2.pop()

'list'

In [81]:
print(l2)

[2, 'EY', 'third', 5.0, nan, 'Justin', 'newentry', 'g', 'i', 'n', 'again', 'new']

In [82]:
# To reverse the list
l2.reverse()
print(l2)

['new', 'again', 'n', 'i', 'g', 'newentry', 'Justin', nan, 5.0, 'third', 'EY', 2]

In [83]:
# Another way to reverse the list. But this returns a reverseiterator which has to typecasted as list to view the reversed list
print(list(reversed([1,2,-4, 8*5, -100])))

[-100, 40, -4, 2, 1]

In [84]:
# To sort the list
print(sorted([1,2,-4, 8*5, -100]))
# Sort in descending
print(sorted([1,2,-4, 8*5, -100], reverse=True) )
# Sort in descending, another way
print( list(reversed(sorted([1,2,-4, 8*5, -100]))) )
# Sort another way
l5= [1,2,-4, 8*5, -100]
l5.sort(reverse=True)
print(l5)

[-100, -4, 1, 2, 40]
[40, 2, 1, -4, -100]
[40, 2, 1, -4, -100]
[40, 2, 1, -4, -100]

###### Numbers, strings, and tuples are immutable. Lists, dictionaries, and sets are mutable (We are referring to the mutability of values. Changing the values the variable points to is not mutability.). Mutability should be dealt with care.

In [85]:
# We could remove, insert, delete etc. from an existing list- hence they are mutable.
print(l2)

['new', 'again', 'n', 'i', 'g', 'newentry', 'Justin', nan, 5.0, 'third', 'EY', 2]

In [86]:
check1= l2

l2[0]= 'new entry'
print("Check1 is ",check1)
print("l2 is     ",l2)
# The output proves that when we write list1=list2, we are not creating copies of lists. Rather, both list1 and list2 point to the same list
# Hence, if we change one of them, the other will also be changed

Check1 is  ['new entry', 'again', 'n', 'i', 'g', 'newentry', 'Justin', nan, 5.0, 'third', 'EY', 2]
l2 is      ['new entry', 'again', 'n', 'i', 'g', 'newentry', 'Justin', nan, 5.0, 'third', 'EY', 2]

In [87]:
check2= l2.copy()  # or use list(l2) to create a copy
check2[0]= 'changed entry'
print("Check2 is ",check2)
print("l2 is     ",l2)

Check2 is  ['changed entry', 'again', 'n', 'i', 'g', 'newentry', 'Justin', nan, 5.0, 'third', 'EY', 2]
l2 is      ['new entry', 'again', 'n', 'i', 'g', 'newentry', 'Justin', nan, 5.0, 'third', 'EY', 2]

In [88]:
# Immutable datatypes don't require .copy() Infact, if we attempt .copy() on immutable ones, it throws an error. 
a= 5
b= a   # b=a creates a new variable with value as that of a, and assigns it to b. Hence, changing a or b wont change the other.
a= 6
print("a is ", a)
print("b is ", b)

a is  6
b is  5

In [89]:

#Lists are ordered collection of items in Python. Unlike arrays in other language, lists can hold multiple types (classes) of items

## **Dictionary** 
Lists had indices 0,1,2 etc. Dictionary can be understood as lists whose indices are specified- so instead of 0,1,2 the indices are user specified. Indices of a dictionary are called 'keys'

In [90]:
dict1 = {}  # alternative: my_empty_dict = dict()
print(dict1)

{}

In [91]:
# 2 ways to delare a dictionary
dict1 = {'value1': 1.6, 'value2': 10, 'name': 'Jane Doe'}
dict2 = dict(value1=1.6, value2=10, name='Jane Doe')

print(dict1)
print(dict2)

# Check if these 2 dictionaries are equal
print('equal: {}'.format(dict1 == dict2))
print('length: {}'.format(len(dict1)))

{'value1': 1.6, 'value2': 10, 'name': 'Jane Doe'}
{'value1': 1.6, 'value2': 10, 'name': 'Jane Doe'}
equal: True
length: 3

In [92]:
# To get the first value of a dictionary, we need to know the key, not the index
dict1[0]

KeyError: ignored

In [93]:
dict1['value1']

1.6

In [94]:
print('keys: {}'.format(dict1.keys()))
print('values: {}'.format(dict1.values()))

# Items means a combination of keys and values
print('items: {}'.format(dict1.items()))

keys: dict_keys(['value1', 'value2', 'name'])
values: dict_values([1.6, 10, 'Jane Doe'])
items: dict_items([('value1', 1.6), ('value2', 10), ('name', 'Jane Doe')])

In [95]:
# Dictionaries are mutable like lists
my_dict = {}
my_dict['key1'] = 'value1'
my_dict['key2'] = 99
my_dict['key1'] = 'new value'  # overriding existing value
print(my_dict)

{'key1': 'new value', 'key2': 99}

In [96]:
my_dict = {'key1': 'value1', 'key2': 99, 'keyX': 'valueX'}
# Since mutable, their elements can be deleted. Lists used the index to delete elements, for dictionaries, we use keys
del my_dict['keyX']
print(my_dict)

{'key1': 'value1', 'key2': 99}

In [97]:
my_dict = {'a': 1, 'b': 2, 'c': 3}
# get() is used to fetch the value in a dictionary using its key
print(my_dict.get('d'))
print(my_dict.get('b'))

None
2

In [98]:
my_dict = {'a': 1, 'b': 2, 'c': 3}
a_value = my_dict.setdefault('a', 'my default value') # same as my_dict['a'] or my_dict.get('a'), but setdefault() adds item to the list if this key is not present in list
print(a_value)
d_value = my_dict.setdefault('d', 'd_value')
print(d_value)
print(my_dict)

1
d_value
{'a': 1, 'b': 2, 'c': 3, 'd': 'd_value'}

In [99]:
# Update is used to add elements of a list to another list, or to update the value the value of an existing key in the list
dict1 = {'a': 1, 'b': 2}
dict2 = {'c': 3}
dict1.update(dict2)
print(dict1)

# If they have same keys:
dict1.update({'c': 4})
print(dict1)

{'a': 1, 'b': 2, 'c': 3}
{'a': 1, 'b': 2, 'c': 4}

The keys of a dict have to be immutable. Hence we can't have keys as lists or sets or another dict. Keys should be of immutable datatypes like int, string etc.

In [100]:
# Attempt to create a dictionary with list as key
dict1= {['a']:1}

TypeError: ignored

In [101]:
dict1= {1: ['Python', 'is', 'simple']}
print(dict1)

{1: ['Python', 'is', 'simple']}

In [102]:
# Dictionary comprehensions
numbers = (1, 5, 10)
squares = {num: num**2 for num in numbers}
print(squares)

{1: 1, 5: 25, 10: 100}

In [103]:
# Zip for dictionary
# Zip is use to create a dictionary from 2 iterable objects (like lists, tuples etc.)
keys = ('a', 'b', 'c')
values = [True, 100, 'John Doe']
my_dict = {k: v for k, v in zip(keys, values)}
print(my_dict)

{'a': True, 'b': 100, 'c': 'John Doe'}

### For loops

In [104]:
# Lists
my_list = ['Python', 'is', 'a', 'neat', 'language']
for item in my_list:
    print(item)

Python
is
a
neat
language

In [105]:
# To iterate through indices and values at the same time, use enumerate()
for idx, val in enumerate(my_list):
    print(idx, val)

0 Python
1 is
2 a
3 neat
4 language

In [106]:
# break out of a loop using a condition. As 'break' causes the compiler to break out of a loop, the statements in loop after 'break' wont be executed and remaining iterations of loop wont be executed.
for item in my_list:
    if item == 'neat':  # checking if item is 'neat'
        break  # if so, compiler breaks out of the for loop. The remaining iterations of loop wont take place.
    print(item) # This line wont be executed if compiler has encountered break. Hence, we wont print anything after the item 'neat' is encountered

Python
is
a

In [107]:
# when continue is used, only that iteration of loop is stopped and loop jumps to the next iteration without executing the steps after 'continue'
for item in my_list:
    if item == 'neat':
        continue
    print(item)

Python
is
a
language

In [108]:
# Loop through dictionary
my_dict = {'hacker': True, 'age': 72, 'name': 'John Doe'}
for val in my_dict:
    print(val)

hacker
age
name

In [109]:
# like enumerate was for list, dict.items() is for dictionary
for key, val in my_dict.items():
    print('{}={}'.format(key, val))

hacker=True
age=72
name=John Doe

In [110]:
# Range
# Same as iterating from 0 to 4
for number in range(5):
    print(number, end=' ')

0 1 2 3 4

In [111]:
# Iterates from 2 to 4
for number in range(2, 5):
    print(number, end=' ')

2 3 4

In [112]:
# Iterates from 0 to 9 incrementing by 2 after each loop. So number takes the values 0,2,4,6,8
for number in range(0, 10, 2):  # last one is step
    print(number, end=' ')

0 2 4 6 8

In [113]:
# Reverse iteration. 0,2,4,6,8 but in reverse
for number in reversed(range(0,10,2)):
    print(number, end=' ')

8 6 4 2 0

### Condition

In [115]:
var1 = 5
var2 = 5.0

# check if they are equal
print(var1==var2)

True

In [116]:
# not equals
var1 != 6

True

In [117]:
# True is different from 'True'
print(type(True))
print(type('True'))

<class 'bool'>
<class 'str'>

In [118]:
a, b, c, d= 1,2,3,4

if a < b < c < d:
    print('from lowest to highest: a, b, c, d')

from lowest to highest: a, b, c, d

In [119]:
# 3 conditions separated by and
var2 == 5 and var1 != 6 and var1>2

True

In [120]:
# using and, or
(var2 == 5 and var1 != 6) or var1>10

# it works like this:
# (T and T) or F
# T or F
# T

True

In [121]:
# Existance of a variable does not mean its boolean value is True. For boolean to be True, the variable should not be empty
# Follow left to right

python_is_cool = True
java_is_cool = False
empty_list = []
secret_value = 3.14

print( bool(not java_is_cool or secret_value and  python_is_cool or empty_list))

True

In [122]:
# How the above statment printed True?

# (not F) or T and T or F
# T or T and T or F
# T and T or F
# T or F
# T

In [123]:
# typecasting to bool
bool (empty_list)

False

In [124]:
if (var1>2):
    print( "var1 is greater than 2.", end=' ')
    print( "Its actual value is",var1)
# 'end' prints extra characters after executing the print statement

var1 is greater than 2. Its actual value is 5

In [125]:
val = 88
if val >= 100:
    print('value is equal or greater than 100')
elif val > 10:
    print('value is greater than 10 but less than 100')
else:
    print('value is equal or less than 10')

value is greater than 10 but less than 100

is operator vs ==

In [126]:
list1 = [] 
list2 = [] 
list3=list1

In [127]:
# == operator checks if value is same
# is operator checks if both variables refer to the same object (here, list1 and list2 have same value but they are different objects)
# For mutable objects like lists or dictionaries, list1=list2 makes them same objects and not copies. so if list1 changes, list2 also changes
# For immutable objects, example intergers, if a=b, even if b changes lateron, a does not change because a is just a copy of b


if (list1 == list2): 
    print("True") 
else: 
    print("False") 

if (list1 is list2): 
    print("True") 
else: 
    print("False") 

if (list1 is list3): 
    print("True") 
else:     
    print("False") 

list3 = list3 + list2 
  
if (list1 is list3): 
    print("True") 
else:     
    print("False")

True
False
True
False

## Tuples- 
Tuples are Immutable lists that appear in ( ) i.e. even the tuple's size can't be changed becuase it is immutable. To do that, we need to convert tuple to list first.

In [128]:
t1= (1,2,3)

In [129]:
# Causes an error because it is immutable
t1[0]= 53

TypeError: ignored

In [130]:
# tuples cannot be copied as they are immutable
t2= t1.copy()

AttributeError: ignored

In [131]:
list1= [1,2,3]
list2= list1
list3= list1.copy()

print(list2==list1)
print(list3==list1)

print(list2 is list1)
print(list3 is list1)

True
True
True
False

## Sets
Immutable, unordered collection of unique elements

In [132]:
list1= [1,2,3,4,5,5,4,3,"Laptop"]

In [133]:
# Set is unordered list of unique elements. So when lists are converted to sets, they contain only unique values.
set1= set(list1)
print(set1)

{1, 2, 3, 4, 5, 'Laptop'}

In [134]:
# Since sets are unordered, they don't have indices, hence throws an error if we try to index a set
set1[0]

TypeError: ignored